.resume{
  margin-top: 40px;
  word-wrap: break-word;
}
.resume .left{
  text-align: right;
}

.resume .row{
    margin-bottom: 8px;
}

.resume .contact{
    margin-top: 50px;
}

.resume input{
  width: 85%;
  max-width: 200px;
}

.resume textarea{
  width: 85%;
  max-width: 198px;
  height: 100px;
}

.resume p{
    margin: 0;
    font-size: 11px;
}
