@media(max-width:480px){
	.shohoku h1{
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 1.2em;
		text-align: center;
	}
	.shohoku h2{
		margin: 0;
		margin-bottom: 7px;
		font-size: 0.9em;
	}
	.shohoku p{
		margin: 14px;
		line-height: 22px;
		font-size: 0.8em;
	}
}
@media(min-width: 481px) and (max-width: 992px){
	.shohoku h1{
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 1.4em;
		text-align: center;
	}
	.shohoku h2{
		margin: 0;
		margin-bottom: 7px;
		font-size: 1em;
	}
	.shohoku p{
		margin: 14px;
		line-height: 22px;
		font-size: 0.9em;
	}
}
@media(min-width:993px){
	.shohoku h1{
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 1.5em;
		text-align: center;
	}
	.shohoku h2{
		margin: 0;
		margin-bottom: 7px;
		font-size: 1.2em;
	}
	.shohoku p{
		margin: 14px;
		line-height: 22px;
		font-size: 0.9em;
	}
	.shohoku{
		padding-left: 17vw;
	}
	
	.shohoku{
		padding-right: 17vw;
	}
}

.shohoku .row{
	padding: 16px;
	text-align: center;
}

.shohoku img{
	width: 100%;
	margin-bottom: 40px;
}

