---
layout: default
title: KEVIN HOU
---

<div class="row">
    {% for post in site.posts %}
        <div class="col-xs-12 col-sm-6 cover">
            <div class="akatsuki">
                <a target="_blank" href="{% if post.href %}{{ post.href }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
                	<img class="art" src="/images/{{ post.img }}">
                </a>
                <h1>{{ post.name }}</h1>
                <h2>{{ post.dateRange }}</h2>
                <p>{{ post.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
