<div class="header sides">
	<div class="back-top"></div>
	<div class="inner sideText">
		<a href="/">KEVIN HOU</a>
	</div>
</div>

<div class="outer-l">
	<div class="back-left"></div>
	<div class="inner-l rotate-l sideText">
		<a target="_blank" href="http://kidsoulbeats.com">MUSIC</a>
    	</div>
</div>

<div class="outer-r">
	<div class="back-right"></div>
    	<div class="inner-r rotate-r sideText">
		<a href="/contact">CONTACT</a>
    	</div>
</div>

<div class="footer sides">
	<div class="back-bottom"></div>
	<div class="inner sideText">
		<a target="_blank" href="/resume.pdf">RESUME</a>
	</div>
</div>
