
<nav class="fixed-top fixed-visable" id="navigation">
<div class="container">
<div class="row-fluid">
<div class="span12 center">
    <a class="brand pull-left" href="../../">
        <img src="/style/images/logo-black.png" alt="Kevin Hou">
    </a>

    <!-- MOBILE MENU BUTTON -->
    <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <!-- END MOBILE MENU BUTTON -->

    <ul id="main-menu" class="nav-collapse collapse">
        <!-- <li id="about"><a href="/about">About</a></li> -->
        <li id="project"><a href="/projects">Projects</a></li>
        <li id="art"><a href="/art">Art</a></li>
        <li id="music"><a href="/music">Music</a></li>
        <li id="resume"><a href="/resume.pdf" target="_blank">Résumé</a></li>
    </ul>

    <!-- SOCIAL ICONS -->
    <div class="social-icons hover-big pull-right">
        <a href="https://www.facebook.com/KidXSoul" target=_blank class="sicon-facebook"><i>Facebook</i></a>
        <a href="https://www.linkedin.com/in/kevinkh1995" target=_blank class="sicon-linkedin"><i>LinkedIn</i></a>
        <a href="https://www.youtube.com/kidsoulbeats" target=_blank class="sicon-youtube"><i>Youtube</i></a>
        <a href="https://www.soundcloud.com/kidxsoul" target=_blank class="sicon-soundcloud"><i>SoundCloud</i></a>
        <a href="https://www.github.com/kevhou" target=_blank class="sicon-github"><i>Github</i></a>
    </div>
    <!-- END SOCIAL ICONS -->
</div>
</div>
</div>
</nav>      
